{% extends 'frontend/base.html' %}
{% load static %}
{% block seo_content %}
<title>About Us</title>
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Porto - Responsive HTML5 Template">
<meta name="author" content="okler.net">
{% endblock %}
{% block body_content %}
<div role="main" class="main">
	<section class="parallax section section-text-light section-parallax section-center mt-0 mb-5" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="{% static 'frontend/img/demos/digital-agency/slides/slide-digital-agency-1.jpg' %}" style="min-height: 560px;">
		<div class="container">
			<div class="row justify-content-center mt-5">
				<div class="col-lg-8 mt-5">
					<h1 class="mt-5 pt-5 font-weight-semibold">About</h1>
					<p class="mb-0 text-4 opacity-7">At Absolute Parking Management we will conduct a thorough site survey for you which will help us evaluate your property and determine the most appropriate parking control method required.</p>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="row mb-5 pb-5 mt-5 pt-5">
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-6">
						<h4 class="font-weight-extra-bold">Company</h4>
						<p class="">Parking control is an essential aspect of our services which ensures a safe and efficient car park for you and your customers. Our services are designed to meet your parking control needs and benefit your business operations through increased efficiency and technologically advanced solutions.</p>
					</div>
					<div class="col-lg-6">
						<h4 class="font-weight-extra-bold">Mission</h4>
						<p class="">At Absolute Parking Management, we recognise that when it comes to designing a bespoke car park system that meets your needs, a customised approach is essential. We seek to not only find the ‘nearly right’ solutions for you, but the ‘exactly right’ solutions.</p>
					</div>
				</div>

				<blockquote class="mt-5 ml-4 blockquote-primary">
					<p>Parking control is an essential aspect of our services which ensures a safe and efficient car park for you and your customers. Our services are designed to meet your parking control needs and benefit your business operations through increased efficiency and technologically advanced solutions.</p>
					<footer>- David Doe, CEO</footer>
				</blockquote>
			</div>
			<div class="col-lg-3 d-none d-sm-block">
				<div class="row text-center mt-5 mt-lg-0">
					<div class="col-md-8 col-lg-6 mx-auto">
						<img class="img-fluid m-3 my-0 mt-lg-5" src="{% static 'frontend/img/demos/digital-agency/office/our-office-1.jpg' %}" alt="Office">
						<img class="img-fluid m-3 my-0" src="{% static 'frontend/img/demos/digital-agency/office/our-office-3.jpg' %}" alt="Office">
					</div>
					<div class="col-md-8 col-lg-6 mx-auto">
						<img class="img-fluid m-3 my-0" src="{% static 'frontend/img/demos/digital-agency/office/our-office-2.jpg' %}" alt="Office">
						<img class="img-fluid m-3 my-0" src="{% static 'frontend/img/demos/digital-agency/office/our-office-4.jpg' %}" alt="Office">
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="section section-default border-0">
		<div class="container py-4">
			<div class="row counters">
				<div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
					<div class="counter">
						<i class="icons icon-user text-color-dark"></i>
						<strong class="text-color-dark font-weight-extra-bold" data-to="30000" data-append="+">0</strong>
						<label class="text-4 mt-1">Happy Clients</label>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
					<div class="counter">
						<i class="icons icon-badge text-color-dark"></i>
						<strong class="text-color-dark font-weight-extra-bold" data-to="15">0</strong>
						<label class="text-4 mt-1">Years In Business</label>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 mb-5 mb-sm-0">
					<div class="counter">
						<i class="icons icon-graph text-color-dark"></i>
						<strong class="text-color-dark font-weight-extra-bold" data-to="178">0</strong>
						<label class="text-4 mt-1">Apartments</label>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="counter">
						<i class="icons icon-cup text-color-dark"></i>
						<strong class="text-color-dark font-weight-extra-bold" data-to="352">0</strong>
						<label class="text-4 mt-1">Law Enforcements</label>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="m-5 pb-3">
		<div class="container py-4">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="mb-0 mt-3 font-weight-extra-bold text-6">Leadership</h2>
					<p class="text-4 mb-3">Our team members working. </p>
					<div class="divider divider-primary divider-small divider-small-center mb-3">
						<hr>
					</div>
				</div>
			</div>
			<div class="row justify-content-center mt-4">
				<div class="col-lg-8">
					<div class="row mt-4">
						<div class="col-lg-3 col-12 text-center mb-4">
							<h4 class="mt-3 mb-0">David Doe</h4>
							<p class="mb-0">CEO</p>
							<span class="thumb-info-social-icons mt-2 pb-0">
								<a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
								<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
							</span>
						</div>
						<div class="col-lg-3 col-12 text-center mb-4">
							<h4 class="mt-3 mb-0">Jeff Doe</h4>
							<p class="mb-0">CMO</p>
							<span class="thumb-info-social-icons mt-2 pb-0">
								<a href="mailto:mail@example.com"><i class="far fa-envelope"></i><span>Email</span></a>
								<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
							</span>
						</div>
						<div class="col-lg-3 col-12 text-center mb-4">
							<h4 class="mt-3 mb-0">Craig Doe</h4>
							<p class="mb-0">COO</p>
							<span class="thumb-info-social-icons mt-2 pb-0">
								<a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
								<a href="http://www.twitter.com"><i class="fab fa-twitter"></i><span>Twitter</span></a>
								<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
							</span>
						</div>
						<div class="col-lg-3 col-12 text-center mb-4">
							<h4 class="mt-3 mb-0">Richard Doe</h4>
							<p class="mb-0">President</p>
							<span class="thumb-info-social-icons mt-2 pb-0">
								<a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-default section-footer border-0">
		<div class="container py-4">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="mb-0 mt-3 font-weight-extra-bold text-6">Clients</h2>
					<p class="text-4 mb-3">We worked with so many big apartments. </p>
					<div class="divider divider-primary divider-small divider-small-center mb-3">
						<hr>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="content-grid col mt-5 mb-4">
					<div class="row content-grid-row">
						<div class="content-grid-item col-lg-4 text-center py-4">
							<img class="img-fluid" src="{% static 'frontend/img/logos/logo-1.png' %}" style="max-width: 180px" alt="">
						</div>
						<div class="content-grid-item col-lg-4 text-center py-4">
							<img class="img-fluid" src="{% static 'frontend/img/logos/logo-2.png' %}" style="max-width: 180px" alt="">
						</div>
						<div class="content-grid-item col-lg-4 text-center py-4">
							<img class="img-fluid" src="{% static 'frontend/img/logos/logo-3.png' %}" style="max-width: 180px" alt="">
						</div>
					</div>
					<div class="row content-grid-row">
						<div class="content-grid-item col-lg-4 text-center py-4">
							<img class="img-fluid" src="{% static 'frontend/img/logos/logo-4.png' %}" style="max-width: 180px" alt="">
						</div>
						<div class="content-grid-item col-lg-4 text-center py-4">
							<img class="img-fluid" src="{% static 'frontend/img/logos/logo-5.png' %}" style="max-width: 180px" alt="">
						</div>
						<div class="content-grid-item col-lg-4 text-center py-4">
							<img class="img-fluid" src="{% static 'frontend/img/logos/logo-6.png' %}" style="max-width: 180px" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
{% block script %}
<script>
	$("#aboutActive").addClass('active');
</script>
{% endblock %}
