{% extends 'frontend/base.html' %}
{% load static %}
{% block seo_content %}
<title>Services</title>
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Porto - Responsive HTML5 Template">
<meta name="author" content="okler.net">
{% endblock %}
{% block body_content %}
<div role="main" class="main">
	<div class="slider-container rev_slider_wrapper" style="height: 350px;">
		<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 800, 'gridheight': 350, 'spinner': 'off'}">
			<ul>
				<li data-transition="fade">
					<img src="{% static 'frontend/video/memory-of-a-woman.jpg' %}"
						alt=""
						data-bgposition="center center"
						data-bgfit="cover"
						data-bgrepeat="no-repeat"
						class="rev-slidebg">

					<div class="rs-background-video-layer"
						data-forcerewind="on"
						data-volume="mute"
						data-videowidth="100%"
						data-videoheight="100%"
						data-videomp4="{% static 'frontend/video/memory-of-a-woman.mp4' %}"
						data-videopreload="preload"
						data-videoloop="loop"
						data-forceCover="1"
						data-aspectratio="16:9"
						data-autoplay="true"
						data-autoplayonlyfirsttime="false"
					></div>

					<div class="tp-dottedoverlay tp-opacity-overlay"></div>
				</li>
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 mt-5 title-with-video-custom text-center">
				<h1 class="mt-5 pt-5 font-weight-semibold">Services</h1>
			</div>
		</div>
	</div>

	<section class="section section-default mt-0">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12 text-center">
					<h2 class="mt-5 mb-5 pb-0">Our services are designed to meet your parking control needs and benefit your business operations through increased efficiency and technologically advanced solutions. Our service is not just limited to commercial sites; we also provide parking control solutions for a wide range of facilities.</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="m-5 pb-3">
		<div class="container pt-4 pb-3">
			<div class="row">
				<div class="col text-center">
					<h2 class="mb-0 mt-3 font-weight-bold text-6">We Can Help You With:</h2>
					<div class="divider divider-primary divider-small divider-small-center mb-3">
						<hr>
					</div>
				</div>
			</div>
			<div class="row justify-content-center mt-5">
				<div class="col-md-10 col-lg-4 text-center">
					<div class="feature-box feature-box-style-4 justify-content-center appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
						<span class="featured-boxes featured-boxes-style-6 p-0 m-0">
							<span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
								<span class="box-content p-0 m-0">
									<i class="icon-featured icon-bulb icons"></i>
								</span>
							</span>
						</span>
						<div class="feature-box-info">
							<h4 class="mb-2 mt-3 text-4 text-uppercase font-weight-bold">Parking Control</h4>
							<p class="mb-4">At Absolute Parking Management, we recognise that when it comes to designing a bespoke car park system that meets your needs, a customised approach is essential. We seek to not only find the ‘nearly right’ solutions for you, but the ‘exactly right’ solutions.</p>
						</div>
					</div>
				</div>
				<div class="col-md-10 col-lg-4 text-center">
					<div class="feature-box feature-box-style-4 justify-content-center appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
						<span class="featured-boxes featured-boxes-style-6 p-0 m-0">
							<span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
								<span class="box-content p-0 m-0">
									<i class="icon-featured icon-puzzle icons"></i>
								</span>
							</span>
						</span>
						<div class="feature-box-info">
							<h4 class="mb-2 mt-3 text-4 text-uppercase font-weight-bold">Site Surveys</h4>
							<p class="mb-4">At Absolute Parking Management we will conduct a thorough site survey for you which will help us evaluate your property and determine the most appropriate parking control method required.</p>
						</div>
					</div>
				</div>
				<div class="col-md-10 col-lg-4 text-center">
					<div class="feature-box feature-box-style-4 justify-content-center appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
							<span class="featured-boxes featured-boxes-style-6 p-0 m-0">
								<span class="featured-box featured-box-primary featured-box-effect-6 p-0 m-0">
									<span class="box-content p-0 m-0">
										<i class="icon-featured icon-rocket icons"></i>
									</span>
								</span>
							</span>
						<div class="feature-box-info">
							<h4 class="mb-2 mt-3 text-4 text-uppercase font-weight-bold">Residential</h4>
							<p class="mb-4">To eliminate these issues, Absolute Parking Management are available to conduct an in-depth site survey and create a parking control system that suits all the residents while accommodating for visitor parking too.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container-fluid">
		<div class="row featured-boxes-full featured-boxes-full-scale clearfix">
			<div class="col-lg-4 featured-box-full featured-box-full-primary">
				<i class="icon-directions icons"></i>
				<h4 class="mt-3">1 - Parking Management</h4>
				<p>Absolute Parking Management specialises in maximising all three areas to the best degree possible. We offer highly reliable and comprehensive management systems optimised for streamlining the daily operations for a host of businesses.</p>
			</div>
			<div class="col-lg-4 featured-box-full featured-box-full-primary">
				<i class="icon-puzzle icons"></i>
				<h4 class="mt-3">2 - Eliminating Confrontation</h4>
				<p>With our unique parking management system, confrontation and disputes are a thing of the past. All too often, parking disputes have arisen between staff and customers, resulting from the lack of a robust parking management system.</p>
			</div>
			<div class="col-lg-4 featured-box-full featured-box-full-primary">
				<i class="icon-rocket icons"></i>
				<h4 class="mt-3">3 - Electronic Permits</h4>
				<p>With Absolute Parking Management’s new electronic permits, your customers can enjoy a smoother ingress and egress to your car park, without the hassle of paper permits, and without the need to enter their car registration details.</p>
			</div>
		</div>
	</div>

	<section class="section section-default section-footer section-color-custom mt-0 pt-2 pb-5">
		<div class="container py-4">
			<div class="row mt-2 mb-4 align-items-center">
				<div class="col-4 text-center">
					<img class="img-fluid appear-animation mt-5 pt-5" src="{% static 'frontend/img/demos/digital-agency/laptop.png' %}" style="width: 125% !important; max-width: 125%; left: -25%; position: relative;" alt="layout styles" data-appear-animation="fadeInLeft">
				</div>
				<div class="col-8">
					<h2 class="mb-1 mt-5 font-weight-bold text-6">Innovation</h2>
					<div class="divider divider-primary divider-small mb-5">
						<hr>
					</div>
					<p class="lead">
						With our unique system, we remove the involvement of your staff members and management, saving your time and money and at the same time eliminating unnecessary disputes.
					</p>
					<p>
						These sophisticated and robust products have been combined into a package of services which are revolutionizing the world of parking management.
					</p>

					<a class="btn btn-outline btn-primary text-1 font-weight-semibold text-uppercase px-5 btn-py-2 mb-3" href="{% url 'contact' %}">Get a Quote</a>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
{% block script %}
<script>
	$("#servicesActive").addClass('active');
</script>
{% endblock %}
